<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Target name</th>
      <th>Target email</th>
      <th>Text</th>
      <th>Ip</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.name %></td>
        <td><%= message.target_name %></td>
        <td><%= message.target_email %></td>
        <td><%= message.text %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
