!!! 5
%html
	%head

		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}

		%title KarnyKutas
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	%body

	- flash.each do |name, msg|
		- if msg.is_a?(String)
			= content_tag :div, msg, :id => "flash_#{name}"

	= yield